{% extends "static/base.html" %}

{% block content %}
<!--<div class="alert alert-success" role="alert">-->
<!--  Добро по  жаловать, {{current_user.name}}!-->
<!--</div>-->

<div class="m-5">
  <h1>Записи в блоге</h1>
  {% if posts %}
    {% for item in posts%}
    <div class="card mb-3">
      <img class="card-img-top" id="post_image" width="10%  " height="10%" src="https://www.wacoisd.org/cms/lib/TX49000021/Centricity/Domain/6974/discounts-redtagsale.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p class="card-text"><small class="text-muted">{{item.discount}}% discount</small></p>
        <a href='update_post/{{item.id}}' class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </a>
        <a href='delete_post/{{item.id}}' class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-edit"></span> Delete
        </a>
      </div>
    </div>
    {% endfor %}
  {% else %}
    Постов пока нету, подождите пожалуйста!(
  {% endif %}
</div>
{% endblock %}
